<!DOCTYPE html>
<!-- Note: public/index.html generated from src/index.html.handlebars -->
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1,user-scalable=no" />

    <title>{{htmlWebpackPlugin.options.title}}</title>

    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="preload" href="/loading.png" as="image" />

    <style>
      body {
        background-color: #1a1e23;
        touch-action: none;
      }
    </style>

    {{! For third party integration, populate window.jwt with server-side generated jwt token: }}
    <script>
      window.jwt = "";
    </script>

    {{! The relm-client code needs some values that must be passed as config;
        See webpack.config.js HtmlWebpackPlugin's `templateParameters.config` }}
    <script>
      window.config = {{{toJSON htmlWebpackPlugin.options.templateParameters.config}}}
    </script>

    {{! Optional analytics script; if it is Umami, we track events at higher precision }}
    {{{htmlWebpackPlugin.options.templateParameters.analyticsScript}}}
    
    {{! Note: html-webpack-plugin will insert CSS here }}
  </head>
  <body>
    <noscript>Please enable JavaScript to view this application.</noscript>

    {{! Note: html-webpack-plugin will insert JS here }}
  </body>
</html>
