@import "@uppy/core/dist/style.css";
@import "@uppy/dashboard/dist/style.css";
@import "quill-snow.css";

:root {
  --selected-red: rgba(255, 80, 80, 0.75);
  --selected-red-hover: rgba(220, 0, 0, 0.75);

  --orange: #896f03;
  --selected-orange: #cba03f;
  --selected-orange-hover: #ddb65e;

  --unselected-gray: rgba(50, 50, 50, 0.25);
  --unselected-gray-hover: rgba(20, 20, 20, 0.25);

  --background-transparent-black: rgba(0, 0, 0, 0.85);
  --background-transparent-gray: rgba(40, 40, 40, 0.85);
  --background-gray: #1a1e23;
  /* Used by tray icons and pop-up */
  --background-tray: rgba(40, 40, 40, 0.4);

  --foreground-white: #ddd;
  --foreground-gray: #999;
  --foreground-dark-gray: #555;
  
  --enabled-green: rgba(140, 215, 100, 1);

  --sliderPrimary: rgba(200, 200, 200, 1);
  --sliderSecondary: rgba(140, 140, 140, 1);
  --sliderThumb: var(--selected-orange);
  --sliderThumbHover: var(--selected-orange-hover);

  --select-bg-color: rgba(50, 50, 50, 1);
  --select-hover-bg-color: rgba(70, 70, 70, 1);
  --select-fg-color: #ddd;

  /* svelte-select */
  --selectedItemPadding: 0;
  --borderFocusColor: #eb4;
  --listBackground: #1a1e23;
  --itemColor: #ddd;
  --itemHoverBG: rgba(70, 70, 70, 1);
  --itemHoverColor: #ddd;
  --itemIsActiveBG: #eb4;
  --itemIsActiveColor: #1a1e23;

}

r-html2d {
  display: block;
  // when an Html2d object touches the edge of the page, we don't want it to resize
  width: fit-content;
  // position the element where we need it, "on top of" the 3d world
  position: fixed;
  // center the container
  transform: translate(-50%,-50%);
}

/* Used by Oculus */
r-html2d.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.notifications > div {
  z-index: 200;
}
.default-notification-style {
  background: var(--background-transparent-gray) !important;
  color: var(--foreground-white) !important;
}
.default-notification-style-button {
  border-left: 1px solid var(--foreground-dark-gray) !important;
  color: var(--foreground-white) !important;
}
.default-position-style-bottom-center {
  bottom: 62px !important;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;

  overflow: hidden;
  scrollbar-width: none;
  
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;  /* for vertical scrollbars */
  height: 8px; /* for horizontal scrollbars */
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.5);
}

body {
  color: #333;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  touch-action: none;
}

input {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

body.pointer-events-none .interactive,
body.pointer-events-none .interactive * {
  pointer-events: none !important;
}

a {
  color: rgb(0, 100, 200);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    color: rgb(0, 80, 160);
  }
}

.colorpicker-container {
  z-index: 101 !important;
}
