@import "@uppy/core/dist/style.css";
@import "@uppy/dashboard/dist/style.css";
@import "quill-snow.css";

:root {
  --selected-red: rgba(255, 80, 80, 0.75);
  --selected-red-hover: rgba(220, 0, 0, 0.75);

  --unselected-gray: rgba(50, 50, 50, 0.25);
  --unselected-gray-hover: rgba(20, 20, 20, 0.25);

  --background-transparent-black: rgba(0, 0, 0, 0.85);
  --background-transparent-gray: rgba(40, 40, 40, 0.85);
  --background-gray: #1a1e23;
  --foreground-white: #ddd;
  --foreground-gray: #999;
  --foreground-dark-gray: #555;

  --sliderPrimary: rgba(200, 200, 200, 1);
  --sliderSecondary: rgba(140, 140, 140, 1);
  --sliderThumb: rgba(240, 240, 240, 1);

  --select-bg-color: rgba(50, 50, 50, 1);
  --select-hover-bg-color: rgba(70, 70, 70, 1);
  --select-fg-color: #ddd;

  /* svelte-select */
  --selectedItemPadding: 0;
  --borderFocusColor: #eb4;
  --listBackground: #1a1e23;
  --itemColor: #ddd;
  --itemHoverBG: rgba(70, 70, 70, 1);
  --itemHoverColor: #ddd;
  --itemIsActiveBG: #eb4;
  --itemIsActiveColor: #1a1e23;
}

.notifications > div {
  z-index: 2;
}
.default-notification-style {
  background: var(--background-transparent-gray) !important;
  color: var(--foreground-white) !important;
}
.default-notification-style-button {
  border-left: 1px solid var(--foreground-dark-gray) !important;
  color: var(--foreground-white) !important;
}
.default-position-style-bottom-center {
  bottom: 62px !important;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;

  overflow: hidden;
}

body {
  color: #333;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  touch-action: none;
}

input {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

body.pointer-events-none .interactive,
body.pointer-events-none .interactive * {
  pointer-events: none !important;
}

a {
  color: rgb(0, 100, 200);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    color: rgb(0, 80, 160);
  }
}

.colorpicker-container {
  z-index: 5 !important;
}
