@import "@uppy/core/dist/style.css";
@import "@uppy/dashboard/dist/style.css";
@import "@uppy/webcam/dist/style.css";
@import "@uppy/screen-capture/dist/style.css";
@import "@uppy/image-editor/dist/style.css";

:root {
  --selected-red: rgba(255, 80, 80, 0.75);
  --selected-red-hover: rgba(220, 0, 0, 0.75);

  --unselected-gray: rgba(50, 50, 50, 0.25);
  --unselected-gray-hover: rgba(20, 20, 20, 0.25);

  --background-transparent-gray: rgba(0, 0, 0, 0.85);
  --background-gray: #1a1e23;
  --foreground-white: #ddd;
  --foreground-gray: #999;
  --foreground-dark-gray: #555;

  --sliderPrimary: rgba(100, 100, 100, 1);
  --sliderSecondary: rgba(100, 100, 100, 1);
  --sliderThumb: rgba(240, 240, 240, 1);
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;

  overflow: hidden;
}

body {
  color: #333;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  touch-action: none;
}

body.pointer-events-none .interactive,
body.pointer-events-none .interactive * {
  pointer-events: none !important;
}

a {
  color: rgb(0, 100, 200);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    color: rgb(0, 80, 160);
  }
}

.colorpicker-container {
  z-index: 5 !important;
}
