@import "@uppy/core/dist/style.css";
@import "@uppy/dashboard/dist/style.css";
@import "quill-snow.css";

:root {
  --selected-red: rgba(255, 80, 80, 0.75);
  --selected-red-hover: rgba(220, 0, 0, 0.75);

  --orange: #896f03;
  --selected-orange: rgb(203, 160, 63, 1.0);
  --selected-orange-hover: #ddb65e;

  --unselected-gray: rgba(50, 50, 50, 0.25);
  --unselected-gray-hover: rgba(20, 20, 20, 0.25);

  --background-transparent-black: rgba(0, 0, 0, 0.85);
  --background-transparent-gray: rgba(40, 40, 40, 0.85);
  --background-gray: #1a1e23;
  /* Used by tray icons and pop-up */
  --background-tray: rgba(40, 40, 40, 0.4);

  --foreground-white: #ddd;
  --foreground-gray: #999;
  --foreground-dark-gray: #555;
  
  --enabled-green: rgba(140, 215, 100, 1);

  --sliderPrimary: rgba(200, 200, 200, 1);
  --sliderSecondary: rgba(140, 140, 140, 1);
  --sliderThumb: var(--selected-orange);
  --sliderThumbHover: var(--selected-orange-hover);

  --select-bg-color: rgba(50, 50, 50, 1);
  --select-hover-bg-color: rgba(70, 70, 70, 1);
  --select-fg-color: #ddd;

  /* svelte-select */
  --selectedItemPadding: 0;
  --borderFocusColor: #eb4;
  --listBackground: #1a1e23;
  --itemColor: #ddd;
  --itemHoverBG: rgba(70, 70, 70, 1);
  --itemHoverColor: #ddd;
  --itemIsActiveBG: #eb4;
  --itemIsActiveColor: #1a1e23;

}

/* @zerodevx/svelte-toast */
._toastContainer {
  --toastWidth: 20rem;
  --toastBackground: var(--background-transparent-gray);
  --toastColor: var(--foreground-white);
  --toastContainerLeft: 50%;
  --toastBorderRadius: 10px;
  --toastPadding: 2px 0 2px 8px;
  --toastBtnHeight: 2rem;
  --toastBarHeight: 1px;
  --toastBarBackground: var(--foreground-dark-gray);
  
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
._toastContainer .audio {
  --toastBackground: rgb(203, 160, 63, 0.85);
  --toastColor: #003e69;
}
._toastBtn {
  align-self: flex-start;
}
.audio ._toastMsg::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='36' viewBox='0 0 360 360'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23003e69;%7D%3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M213.22,136.31c-2.85-36.63-33.81-66.69-70.48-68.42A66.82,66.82,0,0,0,72,138.74a5.17,5.17,0,0,0,5.51,5,5.25,5.25,0,0,0,5-5.51A56.44,56.44,0,0,1,98.79,94.86c11.37-11.42,26.8-17.26,43.46-16.49,31,1.47,58.1,27.82,60.51,58.75,1.19,15.33-4.28,27.5-13.5,42.12L170,204.73c-.11.15-.22.3-.32.46C159.56,222,158.14,228.58,158.78,241c.47,9.17-2.62,22-10.58,30-5.91,5.91-13.81,8.67-23.69,8.18C100.1,277.93,95.66,254,95.49,253a5.25,5.25,0,0,0-10.36,1.73c1.92,11.49,12.51,33.55,38.86,34.86.89,0,1.77.06,2.65.06,11.59,0,21.57-3.88,29-11.31,10.94-11,14.19-27.28,13.63-37.93-.5-9.82.11-14.31,9.29-29.61l19.22-25.44L198,185C208.16,169,214.64,154.53,213.22,136.31Z'/%3E%3Cpath class='cls-1' d='M109,158.94a5.27,5.27,0,0,0,5.91-2.71c0-.11,5.94-11.26,22.84-11.26h.58c13,.2,18.4,9.71,19.09,17.79.66,7.92-2.82,17.23-12,18.94-40.55,7.51-36.62,39.66-36.57,40a5.24,5.24,0,0,0,5.19,4.53,4.43,4.43,0,0,0,.72-.05,5.24,5.24,0,0,0,4.48-5.91c-.13-.91-2.72-22.52,28.09-28.23,14.95-2.78,21.68-17.27,20.59-30.14-1.14-13.44-10.66-27.12-29.38-27.39-10.35-.19-17.77,2.86-23,6.4v-1.61a24.85,24.85,0,0,1,26.4-26.44c14.53.69,23,11.27,27.62,20a5.25,5.25,0,1,0,9.3-4.86c-8.28-15.82-21.21-24.92-36.43-25.64A35.34,35.34,0,0,0,105,139.53l0,14.29A5.24,5.24,0,0,0,109,158.94Z'/%3E%3Cpath class='cls-1' d='M262.3,196a5.24,5.24,0,0,0-7.42,0,49.13,49.13,0,0,0,0,69.48,5.25,5.25,0,0,0,7.42-7.42,38.63,38.63,0,0,1,0-54.64A5.24,5.24,0,0,0,262.3,196Z'/%3E%3Cpath class='cls-1' d='M282.92,230.75a11.6,11.6,0,0,1,3.43-8.26,5.25,5.25,0,0,0-7.42-7.42,22.15,22.15,0,0,0,0,31.35,5.24,5.24,0,0,0,7.42,0,5.25,5.25,0,0,0,0-7.41A11.6,11.6,0,0,1,282.92,230.75Z'/%3E%3Cpath class='cls-1' d='M237.13,170.84a5.24,5.24,0,0,0-7.42,0,84.82,84.82,0,0,0,0,119.81,5.24,5.24,0,1,0,7.42-7.41,74.32,74.32,0,0,1,0-105A5.24,5.24,0,0,0,237.13,170.84Z'/%3E%3C/svg%3E");
  padding-right: 6px;
}
.audio ._toastMsg {
  display: flex;
  align-items: center;
}

r-html2d {
  display: block;
  // when an Html2d object touches the edge of the page, we don't want it to resize
  width: fit-content;
  // position the element where we need it, "on top of" the 3d world
  position: fixed;
  // center the container
  transform: translate(-50%,-50%);
}

/* Used by Oculus */
r-html2d.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.notifications > div {
  z-index: 200;
}
.notification-content {
  width: 280px !important;
}
.default-notification-style {
  background: var(--background-transparent-gray) !important;
  color: var(--foreground-white) !important;
}
.default-notification-style-button {
  border-left: 1px solid var(--foreground-dark-gray) !important;
  color: var(--foreground-white) !important;
}
.default-position-style-bottom-center {
  bottom: 62px !important;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;

  overflow: hidden;
  scrollbar-width: none;
  
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;  /* for vertical scrollbars */
  height: 8px; /* for horizontal scrollbars */
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.5);
}

body {
  color: var(--foreground-white);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  touch-action: none;
}

input {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

body.pointer-events-none .interactive,
body.pointer-events-none .interactive * {
  pointer-events: none !important;
}

a {
  color: rgb(0, 100, 200);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    color: rgb(0, 80, 160);
  }
}

.colorpicker-container {
  z-index: 101 !important;
}
